{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% import 'macros.html' as macro %}

{%block content%}
<h3 class="text-center text-uppercase" style="color:Teal">Pitch comments</h3>

<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-6">
            {{macro.displayPitches(pitche)}}
            <h3 class="pt-3"><b>{{pitch.pitch_title}}</b></h3>
            <hr>
            <p>{{pitch.pitch_comment}}</p>
            <p><b>Posted on: </b>{{pitch.posted.strftime('%d.%m.%Y')}}</p>

            <a href="/comment/{{pitch.id}}?like=1">
                <i class="far fa-thumbs-up"></i>
            </a>{{pitch.likes}} <a href="/comment/{{pitch.id}}?dislike=1">
                <i class="far fa-thumbs-down"></i>
            </a>{{pitch.dislikes}}
        </div>
        <div class="col-md-6">
            {{ wtf.quick_form(commentform) }}
            <h3>Display comments</h3>
            {{macro.displayComments(comments)}}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

</div>
{% endblock %}