{% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% block content%}
<style>
    .pitch1 {
        font-weight: 700;
        color: goldenrod;
    }
</style>
<div class="container">
    <div class="jumbotron jumbotron-fluid"
        style="background-color: rgb(218, 235, 231); background-image: url(https://pixabay.com/get/g9ec744297f4ba83f222b73f61ce7f387e33427aa485b9377f1fb48d3d488975de22c7b3a928b79e85fa44ecd7387cf12_1920.jpg/);">
        <div class=" container text-white text-center">
            <h2 class="card-title h1-responsive font-bold" style="font-weight: 700; color: teal; font-size:30pt">Welcome
                to Pitchfest
            </h2>
            <p class="lead">You've got only 60 seconds to impress someone??</br>Worry not Pitchfest has got you covered
                with the best pitches ever.</p>
            <p>You are also free share your pitch ideas with us</p>
            <a type="button" class="btn" style="background-color: teal; color:goldenrod; font-weight:700"
                href="{{url_for('main.new_pitch')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-folder-plus" viewBox="0 0 16 16">
                    <path
                        d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z">
                    </path>
                    <path
                        d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z">
                    </path>
                </svg>
                New Pitch
            </a>
        </div>
    </div>

    <h3 class="text-center text-uppercase text-bold">Pitch Categories</h3>
    <hr>

    <div class="row">
        <div class="col-sm-4">
            <div class="card ">
                <div class="well well-lg p-3" style="text-align: center;">
                    <h3 class="pitch1">Interviews Pitches</h3>
                    <hr>
                    <p>Basically a succinct introduction to yourself and your background, what you do and why you do it.
                    </p>
                    <a href="{{url_for('main.getInterviewPitch')}}" class="btn btn-default btn-center -center">
                        View Pitch</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class=" card">
                <div class="well well-lg p-3" style="text-align: center;">
                    <h3 class="pitch1">Promotion Pitches</h3>
                    <hr>
                    <p>Example of promotional pitches that would make you or your business to stand out </p>
                    <a href="{{url_for('main.getPromoPitch')}}" class="btn btn-default btn-center -center">
                        View Pitch</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class=" card">
                <div class="well well-lg p-3" style="text-align: center;">
                    <h3 class="pitch1">Product Pitches</h3>
                    <hr>
                    <p>A summary of what should be included in a product pitch with examples </p>
                    <a href="{{url_for('main.getProductPitch')}}" class="btn btn-default btn-center -center">
                        View Pitch</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class=" card">
                <div class="well well-lg p-3" style="text-align: center;">
                    <h3 class="pitch1">Pickup Lines Pitches</h3>
                    <hr>
                    <p> Best pickup lines that should be included in your pitch</p>
                    <a href="{{url_for('main.getLinesPitch')}}" class="btn btn-default btn-center -center">
                        View Pitch</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class=" card">
                <div class="well well-lg p-3" style="text-align: center;">
                    <h3 class="pitch1">Humorous Pitches</h3>
                    <hr>
                    <p>The kind of pitches that would put a smile on your face all day</p>
                    <a href="{{url_for('main.getFunnyPitch')}}" class="btn btn-default btn-center -center">
                        View Pitch</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="well well-lg p-3" style="text-align: center;">
                    <h3 class="pitch1">Business Pitches</h3>
                    <hr>
                    <p> Pitches to investors to contribute or promote new or existing business ideas.</p>
                    <a href="{{url_for('main.getBusinessPitch')}}" class="btn btn-default btn-center -center">
                        View Pitch</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer">
    <div class="" style="background-color: rgb(3, 42, 49); color: goldenrod; font-size:12pt; padding: 1%;">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
        </div>
    </div>
</footer>

{% endblock %}